.userPhoto {
    width: 35px;
    border-radius: 50%;
}


.my_message, .other_message {
    display: inline-block;
    font-size: 16px;
    color: white;
    width: max-content;
    width: auto;
    max-width: 500px;
    word-wrap:break-word;
    padding: 10px;
    border-radius: 5px;
}

.my_message {
    margin: 5px;
    border-bottom-left-radius: 0%;
    background-color:cornflowerblue;
}

.other_message {
    border-bottom-right-radius: 0%;
    margin: 5px;
    background-color:darkmagenta;
}

.msg_wrapper{
    float: right;
}


