a:hover {
    text-decoration: none;
}

.contact_wrapper{
    display: flex;
    margin-top: 10px;
    background-color: rgba(188, 188, 188, 0.5);
    padding: 10px;
    border-radius: 15px;
    transition-duration: 0.5s;
}

.contact_wrapper:hover{
    background-color: rgba(158, 156, 156, 0.5);
    transition-duration: 0.5s;
}



.profile_image{
    width: 50px;
    border-radius: 50%;
}

.profile_message {
    font-weight: bold;
    font-size: 14px;
    color: rgb(226, 212, 49);
    float: right;
}

.profile_name{
    line-height: 50px;
    color: rgb(53, 50, 50);
    text-decoration: none;
    margin-left: 7px;
    flex: 1;
}

