@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.otherWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
}


.progress {
    line-height: 10px;
    margin-left: 3px;
}

.signOutButton {
    display: flex;
    margin-left: 20%;
    box-shadow: 0px 18px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    width:max-content;
    transition-duration: 0.3s;
    background-color: rgb(76, 144, 196);
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10%;
}

.signOutButton:hover {
    background-color: whitesmoke;
    color: black;
    transition-duration: 0.3s;
    
}
.signOutButton:hover > .signOutIcon {
    transition-duration: 0.3s;
    color: red;
}

.signOutButton:active {
    background-color: rgb(119, 172, 199);
}

.signOutIcon {
    transition-duration: 0.3s;
    margin-left: 3px;
}

.tfaField {
    background-color: whitesmoke;
    width: 600px;
    height: 200px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.tfaRow {
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tfaSwitch {
    margin-left: 30px;
}
