ul {
    list-style-type: none;
}

.page {
    background: rgba(23, 119, 184, 0.7);
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    min-height: 60vw;
}
.wrapper {
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    margin: 0px auto;
    padding: 4%;
    border-radius: 3px;
    width: 550px;
    margin-top: 5%;
}

.form_row{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 8px;
}

.form_row > span {
    text-align: center;
  }

.codeRow {
    display: inline-block;
    margin: 0px auto;
}

.form_row > img {
    align-self: center;
    width: 200px;
}

.form_row > input {
    margin-top: 3%;
    align-self: center;
    width: 50%;
}

  





