
.postForm.error textarea {
    background-color: rgba(252, 118, 118, 0.7);
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.postForm.error span {
    margin-left: 5px;
    color: red;
}