a:hover {
    text-decoration: none;
}
.profile_info {
    display: block;
    margin-bottom: 7px;
    padding: 5px;
    background-color: rgba(0, 98, 171 , 0.70);

}

.profile_info:hover {
    background-color: rgba(49, 108, 150);
    transition-duration: 0.3s;
}


.profile_info img{
    width: 50px;
    border-radius: 50%;
}

.profile_message {
    font-weight: bold;
    font-size: 14px;
    color: rgb(226, 212, 49);
    float: right;
}

.profile_name{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 7px;
    flex: 1;
}

