.wrapper {
    display: block;
    margin: auto;
    width: 80%;
    padding: 4%;
    background-color: whitesmoke;
    border-radius: 30px;
}

.inputBlock {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.messageItems {
    display: flex;
    scroll-margin-block: 20px;
    flex-direction: column;
    justify-self: center;
    padding: 10px;
}
.sendBtn {
    align-self: center;
    height: 40px;
    left: 2%;
}

