.wrapper {
    display: block;
    margin: auto;
    border: 2px solid gray;
    width: 80%;
    padding: 5%;
}

.inputBlock {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.sendBtn {
    align-self: center;
    height: 40px;
    left: 2%;
}

