@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.friend_user_image {
    width: 60px;
    border-radius: 50%;
}

.friendName:hover {
    text-decoration: underline;
}
a{
    white-space: pre-wrap;
}
.user_friends {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    font-size: 14px;
    height: 18rem;
    overflow:hidden;
    text-align: center;
}

.showAll{
    font-size: 12px;
    color:rgb(0, 108, 129);
    left: 100%;
}

.hubTitle {
    display: inline-flex;
    align-items: center;
}

.hubIcon {
    margin-right: 6px;
    color: rgb(63, 81, 181);
}

.cardElement {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

