@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.friend_user_image {
    width: 60px;
    border-radius: 50%;
}

a{
    white-space: pre-wrap;
}
.user_friends {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    font-size: 14px;
    height: 18rem;
    overflow:hidden;
    text-align: center;
}

.showAll{
    font-size: 12px;
    color:rgb(0, 108, 129);
    left: 100%;
}

