ul {
    list-style-type: none;
}

.page {
    background: rgba(23, 119, 184, 0.7);
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    min-height: 60vw;
}
.wrapper {
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    margin: 0px auto;
    padding: 4%;
    border-radius: 3px;
    width: 550px;
    margin-top: 5%;
}

.form_row{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 8px;
}

.form_row > label {
    padding: 3px 16px 3px 0px;
    flex: 1;
  }


.form_row > img {
    align-self: center;
    width: 300px;
}
.form_row > a {
    width: max-content;
    margin-top: 5%;
    flex: 3;
}

.footer_form_row {
    font-size: 16px;
    margin-top: 5%;
}
.footer_form_row > span {
    margin-left: 25%;
    
}

.form_row > button{
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    color: white;
    background-color: rgb(42, 141, 234);
    transition-duration: 0.3s;
    border: none;
    margin-top: 2%;
    outline: none;
}

.form_row > button:hover{
    background-color: rgb(43, 121, 181);
    transition-duration: 0.3s;
}

.form_row > button:active{
    background-color: rgb(22, 82, 127);
    transition-duration: 0.3s;
}


.signin{
    float: right;
}

.process {
    display: block;
    margin: 0px auto;
}
  





