.page{
    background: rgba(23, 119, 184, 0.7);
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    min-height: 90vw;
}

.wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    margin: 0px auto;
    padding: 4%;
    border-radius: 3px;
    width: 600px;
    margin-top: 5%;
}

.form {
    margin: 8px;
}

.middle {
    margin: 8px;
}

.signup_btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo > img {
    display: block;
    margin: auto;
    width: 400px;
}