@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');


.descriptionBlock
{
    padding: 20px;
}

.user_description {
    border-radius: 2%;
    max-width: 500px;
}
.headerPhoto img
{
    width: 1100px;
    height: 200px;
}

.user_image_block {
    margin: 0 auto;
}
.user_image_block Button{
    margin-top: 10px;
    width: 250px;
}

.user_image {
    display: grid;
    width: 150px;
    margin-left: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.user_name {
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}


.user_image:hover{
    cursor: pointer;
}

.change_photo_btn{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.change_photo_btn:hover {
    background-color: rgba(71, 138, 85, 0.5);
    color: white;
}

.userActionsIcon {
    margin-right: 4px;
    font-size: 25px;
}

.friendStatus {
    color: rgb(70, 177, 188);
}


.imagesBlock {
    display: inline-block;
}
.cropModalButtons {
    align-content: center;
    margin-top: 3%;
}




